<app-header></app-header>

<div class="row justify-content-center">
    <div class="col-lg-6 col-md-10 mt-150">
        <!-- Section Tittle -->
        <div class="section-tittle text-center">
            <h2>Download StickmanCharades</h2>
        </div>
    </div>
</div>

<section class="sample-text-area">
    <div class="row">
        <div class="container box_1170 mb-60">
            <h2>For Windows</h2>
            <p>Get the <a href="../../assets/img/banner/banner.png" download="StickmanCharades_windows_v1.0.0" class="blue-link-text">Latest Version (1.0.0)</a> now!</p>
            <p>Older Versions:</p>
            <p>
                11/05/2020: <a href="assets/downloadables/Desktop.rar" download="StickmanCharades_windows_v0.0.1" class="blue-link-text">v0.0.1</a><br>
                27/04/2020: <a href="assets/downloadables/Desktop.rar" download="StickmanCharades_windows_v0.0.0" class="blue-link-text">v0.0.0</a>
            </p>
        </div>

        <div class="container box_1170 mb-60">
            <h2>For Linux</h2>
            <p>Get the <a href="assets/downloadables/Linux.rar" download="StickmanCharades_linux_v1.0.0" class="blue-link-text">Latest Version (1.0.0)</a> now!</p>
            <p>Older Versions:</p>
            <p>
                11/05/2020: <a href="assets/downloadables/Linux.rar" download="StickmanCharades_linux_v0.0.1" class="blue-link-text">v0.0.1</a><br>
                27/04/2020: <a href="assets/downloadables/Linux.rar" download="StickmanCharades_linux_v0.0.0" class="blue-link-text">v0.0.0</a>
            </p>
        </div>
    </div>
</section>

<app-footer></app-footer>

<!-- Scroll Up -->
<!-- 
<div id="back-top" > 
    <a title="Go to Top" href="#"> <i class="fas fa-level-up-alt"></i></a>
</div>
-->