<div class="services-area pt-150" data-background="assets/img/gallery/section_bg02.jpg">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-9 col-md-10">
                <!-- Section Tittle -->
                <div class="section-tittle text-center">
                    <span>Features that we are providing</span>
                    <h2>Dedicated features for families <br> and privacy concerned players.</h2>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-3 col-md-6 col-sm-6">
                <div class="single-cat text-center ">
                    <div class="cat-icon">
                        <!--<span class="flaticon-work"></span>-->
                        <span class="fa fa-users"></span>
                    </div>
                    <div class="cat-cap">
                        <h5><a href="services.html">Multiplayer<br>Sessions</a></h5>
                        <p>Play online charades with your family, friends or any other user.</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-6">
                <div class="single-cat text-center ">
                    <div class="cat-icon">
                        <span class="fa fa-sign-language"></span>
                    </div>
                    <div class="cat-cap">
                        <h5><a href="services.html">Gesture<br>Commands</a></h5>
                        <p>Use a depth camera to activate commands and call for admin help.</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-6">
                <div class="single-cat text-center ">
                    <div class="cat-icon">
                        <span class="fa fa-lock"></span>
                    </div>
                    <div class="cat-cap">
                        <h5><a href="services.html">Privacy<br>Protected</a></h5>
                        <p>Only you can see yourself, choose your avatar each session.</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-6">
                <div class="single-cat text-center ">
                    <div class="cat-icon">
                        <span class="fa fa-terminal "></span>
                    </div>
                    <div class="cat-cap">
                        <h5><a href="services.html">Developers<br>API</a></h5>
                        <p>Contribute for new features and improved gameplay as a developer!</p>
                    </div>
                </div>
            </div>

         </div>
    </div>
</div>