<div class="services-area pt-150 pb-150" data-background="assets/img/gallery/section_bg02.jpg">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-6 col-md-10">
                <!-- Section Tittle -->
                <div class="section-tittle text-center mb-80">
                    <span>Features that we are providing</span>
                    <h2>Dedicated features for families and privacy concerned players.</h2>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-3 col-md-6 col-sm-6">
                <div class="single-cat text-center mb-50">
                    <div class="cat-icon">
                        <span class="flaticon-work"></span>
                    </div>
                    <div class="cat-cap">
                        <h5><a href="services.html">Multiplayer Sessions</a></h5>
                        <p>Play online charades with your family, friends or any other user.</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-6">
                <div class="single-cat text-center mb-50">
                    <div class="cat-icon">
                        <span class="flaticon-loan"></span>
                    </div>
                    <div class="cat-cap">
                        <h5><a href="services.html">Gesture Commands</a></h5>
                        <p>Use your depth camera to use predefined commands and call for admin help.</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-6">
                <div class="single-cat text-center mb-50">
                    <div class="cat-icon">
                        <span class="flaticon-loan-1"></span>
                    </div>
                    <div class="cat-cap">
                        <h5><a href="services.html">Privacy Protected</a></h5>
                        <p>Only you can see yourself, choose your avatar each session.</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-6">
                <div class="single-cat text-center mb-50">
                    <div class="cat-icon">
                        <span class="flaticon-like"></span>
                    </div>
                    <div class="cat-cap">
                        <h5><a href="services.html">Developers API</a></h5>
                        <p>Contribute for new features and improved gameplay!</p>
                    </div>
                </div>
            </div>

         </div>
    </div>
</div>