<div class="row align-items-center">
    <!-- Logo -->
    <div class="col-xl-2 col-lg-2 col-md-1">
        <div class="logo">
            <a routerLink="/"><img src="assets/img/logo/logo.png" alt=""></a>
        </div>
    </div>
    <div class="col-xl-10 col-lg-10 col-md-10">
        <div class="menu-main d-flex align-items-center justify-content-end">
            <!-- Main-menu -->
            <div class="main-menu f-right d-none d-lg-block">
                <nav>
                    <ul id="navigation">
                        <li id="home-tab"><a routerLink="/">Home</a></li>
                        <li id="documentation-tab"><a routerLink="/documentation">Documentation</a></li>
                        <!-- <li id="about-tab"><a routerLink="/about">About</a></li> -->
                        <!--<li><a href="blog.html">Blog</a>
                        <ul class="submenu">
                            <li><a href="blog.html">Blog</a></li>
                            <li><a href="blog_details.html">Blog Details</a></li>
                            <li><a href="elements.html">Element</a></li>
                            <li><a href="apply.html">Apply Now</a></li>
                        </ul>
                    </li>-->
                        <li id="contact-tab"><a routerLink="/contact">Contact</a></li>
                    </ul>
                </nav>
            </div>
            <div class="header-right-btn f-right d-none d-lg-block">
                <a routerLink="/login" class="btn header-btn">Log In / Register</a>
            </div>
        </div>
    </div>
    <!-- Mobile Menu -->
    <div class="col-12">
        <div class="mobile_menu d-block d-lg-none"></div>
    </div>
</div>