<div style="margin-top:5px; margin-bottom: 5px; float: right;" (click)="containerClick()">
    <button style="float: right;" type="button" class="btn btn-primary" (click)="newGroupBtnPressed($event)">Create New
        Group</button>
    <form class="form-inline" style="display: none; clear:both;padding-top: 10px;" id="groupNamePopup">
        <input type="text" class="form-control" id=groupName (keydown.enter)="newGroup()" placeholder="Name">
        <button class="btn btn-secondary" type="button" (click)="newGroup()">Create</button>
    </form>
</div>
<div id="accordion" style="clear:both">
    <div class="card" *ngFor="let element of listData; let i=index">
        <div class="card-header" data-toggle="collapse" [attr.data-target]="'#'+element.name"
            style="cursor: pointer; background-color: rgba(169, 169, 169, 0.35);">
            <div class="mb-0">
                <i style="float:right" class="fa fa-trash fa-2x" (click)="deleteGroup($event, element.name)"></i>
                <h3 style="display: inline;">Group: {{element.name}}</h3>
                <i style="display: inline; margin-left:10px; vertical-align:text-top;" class="fa fa-plus-square fa-lg"
                    (click)="addTenant($event,element.name)"></i>
            </div>
        </div>

        <div [attr.id]="element.name" class="show" data-parent="#accordion">
            <table class="table table-hover">
                <tr>
                    <th id="headerContent" scope="col">Username</th>
                    <th id="headerContent" scope="col">AllocatedResources</th>
                </tr>
                <tbody>
                    <tr *ngFor="let tenant of element.tenants" (click)="clickEvent($event, tenant, element.name)">
                        <th scope="row">{{tenant.username}}</th>
                        <td>
                            <table class="table table-hover">
                                <tbody>
                                    <tr *ngFor="let resource of objectKeys(tenant.allocatedResources)">
                                        <th scope="row">{{resource}}</th>
                                        <td>{{tenant.allocatedResources[resource]}}</td>
                                    </tr>
                                </tbody>
                            </table>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
<span id="tooltip-span" style="display: none;cursor: pointer;" (mouseleave)="mouseLeftTooltip()">
    <div class="list-group">
        <a class="list-group-item list-group-item-action" (click)="viewSLA()">View SLAs</a>
        <a class="list-group-item list-group-item-action" (click)="deleteTenant()">Delete Tenant</a>
        <a class="list-group-item list-group-item-action" (click)="viewMoreInfo()">View More</a>
    </div>
</span>