<div class="slider-area slider-height" data-background="assets/img/hero/h1_hero.jpg">
    <div class="slider-active">
        <!-- Single Slider -->
        <div class="single-slider">
            <div class="slider-cap-wrapper">
                <div class="hero__caption">
                    <p data-animation="fadeInLeft" data-delay=".2s">Group P54 brings you...</p>
                    <h1 data-animation="fadeInLeft" data-delay=".5s">Stickman Charades</h1>
                    <!-- Hero Btn -->
                    <a routerLink="/register" class="btn hero-btn" data-animation="fadeInLeft" data-delay=".8s">Download Now</a>
                </div>
                <div class="hero__img">
                    <img src="assets/img/banner/banner.png" alt="">
                </div>
            </div>
        </div>
    </div>
</div>
