<div class="team-area section-padding30">
    <div class="container">
        <div class="row justify-content-center">
            <div class="cl-xl-7 col-lg-8 col-md-10">
                <!-- Section Tittle -->
                <div class="section-tittle text-center mb-70">
                    <span>Software Engineering group P54</span>
                    <h2>Developers Team</h2>
                </div> 
            </div>
        </div>
        <div class="row">
            <div class="col-lg-3 col-md-4 col-sm-6">
                <div class="single-team mb-30">
                    <div class="team-img">
                        <img src="assets/img/team/joao.jpg" alt="">
                        <!-- Blog Social -->
                        <div class="team-social">
                            <li><a href="#"><i class="fab fa-github"></i></a></li>
                        </div>
                    </div>
                    <div class="team-caption">
                        <h3><a href="#">João Alegria</a></h3>
                        <p>Team Leader</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-4 col-sm-6">
                <div class="single-team mb-30">
                    <div class="team-img">
                        <img src="assets/img/team/filipe.jpg" alt="">
                        <!-- Blog Social -->
                        <div class="team-social">
                            <li><a href="#"><i class="fab fa-github"></i></a></li>
                        </div>
                    </div>
                    <div class="team-caption">
                        <h3><a href="#">Filipe Pires</a></h3>
                        <p>Documentation Manager</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-4 col-sm-6">
                <div class="single-team mb-30">
                    <div class="team-img">
                        <img src="assets/img/team/andre.jpg" alt="">
                        <!-- Blog Social -->
                        <div class="team-social">
                            <li><a href="#"><i class="fab fa-github"></i></a></li>
                        </div>
                    </div>
                    <div class="team-caption">
                        <h3><a href="#">André Pedrosa</a></h3>
                        <p>Infrastructure Manager</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-4 col-sm-6">
                <div class="single-team mb-30">
                    <div class="team-img">
                        <img src="assets/img/team/helder.jpg" alt="">
                        <!-- Blog Social -->
                        <div class="team-social">
                            <li><a href="#"><i class="fab fa-github"></i></a></li>
                        </div>
                    </div>
                    <div class="team-caption">
                        <h3><a href="#">Helder Paraense</a></h3>
                        <p>Quality Assurance Manager</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
