<app-header></app-header>

<app-scrollup></app-scrollup>

<div class="row justify-content-center">
    <div class="col-lg-6 col-md-10 mt-150">
        <!-- Section Tittle -->
        <div class="section-tittle text-center">
            <h2>Demo</h2>
        </div>
    </div>
</div>

<div class="container-fluid">

    <div class="main">
        <video width="80%" controls style="display:block; margin: 0 auto; margin-bottom: 150px;">
            <source src="assets/video/StickmanCharades_Demo.mp4" type="video/mp4">
        </video>
    </div>


</div>
<app-footer></app-footer>