<div class="container-fluid" id="modal-content-wrapper" style="height: 100%; display: flex; flex-flow: column;">
    <div class="row" style="margin-bottom:20px;">
        <h2 id="modal-title" style="color: #007bff;">Add New Tenant</h2>
        <i style="margin-left: auto;" class="fa fa-times fa-lg" aria-hidden="true" type=" button"
            (click)="closeModal()"></i>
    </div>

    <div id="modal-body-extra" style="overflow-y: auto; height: 90%;">
        <form>
            <div class="container">
                <div class="row form-group">
                    <label class="col-sm-3 col-form-label" style="text-align: right;">Group:</label>
                    <input class="col-sm-9 form-control" type="text" id="inputGroup" [attr.value]="modalData.group"
                        readonly />
                </div>
                <div class="row form-group">
                    <label class="col-sm-3 col-form-label" style="text-align: right;"
                        for="inputUsername">Username*</label>
                    <input type="username" class="col-sm-9 form-control" id="inputUsername" placeholder="Enter username"
                        required>
                </div>
                <div class="row form-group">
                    <label class="col-sm-3 col-form-label" style="text-align: right;"
                        for="inputPassword1">Password*</label>
                    <input type="password" class="col-sm-9 form-control" id="inputPassword" placeholder="Enter Password"
                        required>
                </div>
                <div class="row form-group">
                    <label class="col-sm-3 col-form-label" style="text-align: right;"
                        for="exampleInputPassword1">Confirm Password*</label>
                    <input type="password" class="col-sm-9 form-control" id="inputPasswordConfirm"
                        placeholder="Confirm Password" required
                        (keydown)="passwordConfirmCheck($event,modalData.group)">
                </div>
            </div>
        </form>
    </div>

    <div class="row">
        <button style="margin-left: auto;" id="submitNewTenant" type="button" class="btn btn-primary"
            (click)="submitTenant()">Submit</button>
    </div>
</div>
<p-toast [style]="{width: 'auto'}" position="bottom-center"></p-toast>