<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="info" name="spring-boot-kafka-log" packages="es_g54">
    <Appenders>
<!--        <Kafka name="Kafka" topic="iss-logs">
            <PatternLayout pattern="%m"/>
            <Property name="bootstrap.servers">kafka:9092</Property>
        </Kafka>
        <Async name="Async">
            <AppenderRef ref="Kafka"/>
        </Async>-->

        <Console name="stdout" target="SYSTEM_OUT">
            <PatternLayout pattern="%m%n"/>
        </Console>

    </Appenders>
    <Loggers>
        <Root level="INFO">
            <!--<AppenderRef ref="Kafka"/>-->
            <AppenderRef ref="stdout"/>
        </Root>
        <Logger name="org.apache.kafka" level="WARN" />
    </Loggers>
</Configuration>